 body {
    font-family: 'Lato';
    background: #cccccc;
     
}

.fa-btn {
    margin-right: 6px;
    
}

.navbar{
    background: #f2f2f2;
    border-bottom-style: inset;
    border-bottom-color: #000;
    border-bottom-width: 8px;
}

.navbar a {
    color: #999999;
    text-shadow: 1px 1px #000;   

}

.navbar-dark .navbar-header a:hover {
    background: #6c6c93;
    color: #000;
    text-shadow: 1px 1px #fff;
    transition: background 1s, color 1s;

}

.navbar-dark .navbar-nav > li > a:hover {
    background: #6c6c93;
    color: #000;
    text-shadow: 1px 1px #fff;
    transition: background 1s, color 1s;

}



.panel-default .panel-heading {
    background: #6c6c93;
    color: #fff;
    text-shadow: 1px 1px #000;
}

#word {
    
    padding-left:8px;

}

#translation {
    font-size: 20px;
    margin-right: 20px;
}

.list-group-item {
    margin-bottom: 10px;
    border-width: 4px;
}

.label-default {
    
    background: #6c6c93;
    text-align: left;

}

.btn-primary
{
    background: #6c6c93;
}


.btn-primary:hover
{
    background: #666666;
}

.glyphicon {
    margin: 4px;
}

.panel {
    border-right-style: outset;
    border-right-width: 4px;
    border-right-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #666666;    
}
